<div id="gor_wrap">
	<div id="gor_main" class="container-fluid" style="padding-left: 0 !important; padding-right: 0 !important;">
		<div class="row">
			<div class="col-xs-12 makercontainer">
				<img class="img-responsive makerimage" src="https://s3.amazonaws.com/makerimages/woodandfaulk/WoodFaulk_NDaCosta-17.jpg" alt="" />
			</div>
		<div class="row">
			<div class="col-xs-12 maker_title">
				<div class="row">
					<div class="col-xs-12 makertitleheadline">Stories with Makers</div>
					<div class="col-xs-12 makertitlebrand">Wood &amp; Faulk</div>
					<div class="col-xs-12 makertitlemaker">Matt Pierce</div>
			</div>
			<div class="row makerbuttons">
				<div class="col-xs-12 col-sm-4 col-md-4 btnleft"><a href="#video"> <button class="btn btn-lg maker" type="button">Hear from Matt</button> </a></div>
				<div class="col-xs-12 col-sm-4 col-md-4 btncenter"><a href="#makerprod"> <button class="btn btn-lg maker" type="button">See the Goods</button> </a></div>
				<div class="col-xs-12 col-sm-4 col-md-4 btnright"><a href="#story"> <button class="btn btn-lg maker" type="button">Read the Story</button> </a></div>
			</div>
		</div>
		<div class="col-xs-12 makercontaineroverlay"></div>
			</div>
		<div class="row videorow">
			<div id="video" class="col-xs-12 line">
				<hr class="symbol-video" />
			</div>
		</div>
		<div class="row makervideo">
		<div class="col-xs-2"></div>
		<div class="col-xs-8 videoframe">
		<div class="responsive-video"><iframe src="//player.vimeo.com/video/99306766?title=0&amp;byline=0&amp;portrait=0" allowfullscreen="allowfullscreen" frameborder="0" height="281" width="500"></iframe></div>
		</div>
		<div class="col-xs-2"></div>
		</div>
		<div class="row">
		<div id="makerprod" class="col-xs-12 line">
		<hr class="symbol-goods" />
		</div>
		</div>
		<div class="row makerproducts">
		<div class="col-xs-12 col-sm-4 text-center"><a href="/products/union-wallet.html">
		<div class="makerproduct"><img class="img-responsive" src="https://s3.amazonaws.com/makerproducts/woodandfaulk/Beige_MN_unionwallet.jpg" alt="Union Wallet" /></div>
		<h1 class="makerproducttitle text-center">Union Wallet</h1>
		<h2 class="makerproductprice">$53.00</h2>
		</a></div>
		<div class="col-xs-12 col-sm-4 text-center"><a href="/products/union-wallet.html">
		<div class="makerproduct"><img class="img-responsive" src="https://s3.amazonaws.com/makerproducts/woodandfaulk/Beige_MN_unionwallet.jpg" alt="Union Wallet" /></div>
		<h1 class="makerproducttitle">Union Wallet</h1>
		<h2 class="makerproductprice">$53.00</h2>
		</a></div>
		<div class="col-xs-12 col-sm-4 text-center"><a href="/products/union-wallet.html">
		<div class="makerproduct"><img class="img-responsive" src="https://s3.amazonaws.com/makerproducts/woodandfaulk/Beige_MN_unionwallet.jpg" alt="Union Wallet" /></div>
		<h1 class="makerproducttitle">Union Wallet</h1>
		<h2 class="makerproductprice">$53.00</h2>
		</a></div>
		</div>
		<div class="row">
		<div id="story" class="col-xs-12 line">
		<hr class="symbol-story" />
		</div>
		</div>
		<div class="row">
		<div class="col-xs-12 text-center articleheader">
		<h1 class="text-center" style="float: none;">Wood and Faulk is Straight Gangster</h1>
		</div>
		</div>
		<div class="row">
		<div class="col-xs-12 col-sm-6 articletext">
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
		<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
		</div>
		<div class="col-xs-12 col-sm-6 articletext">
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
		<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
		</div>
		</div>
		<div class="row">
		<div class="col-xs-12 col-sm-6 articleimage"><img class="img-responsive" src="https://s3.amazonaws.com/makerimages/woodandfaulk/WoodFaulk_NDaCosta-28.jpg" alt="" /></div>
		<div class="col-xs-12 col-sm-6 articleimage"><img class="img-responsive" src="https://s3.amazonaws.com/makerimages/woodandfaulk/WoodFaulk_NDaCosta-29.jpg" alt="" /></div>
		</div>
		<div class="row">
		<div class="col-xs-12 col-sm-6 articletext">
		<p>JUST ABOVE HERE Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
		<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
		</div>
		<div class="col-xs-12 col-sm-6 articletext">
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
		<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
		</div>
		</div>
		<div class="row">
		<div class="col-xs-6 col-sm-3 articleimage"><img class="img-responsive" src="https://s3.amazonaws.com/makerimages/woodandfaulk/WoodFaulk_NDaCosta-17.jpg" alt="" /></div>
		<div class="col-xs-6 col-sm-3 articleimage"><img class="img-responsive" src="https://s3.amazonaws.com/makerimages/woodandfaulk/WoodFaulk_NDaCosta-18.jpg" alt="" /></div>
		<div class="col-xs-6 col-sm-3 articleimage"><img class="img-responsive" src="https://s3.amazonaws.com/makerimages/woodandfaulk/WoodFaulk_NDaCosta-28.jpg" alt="" /></div>
		<div class="col-xs-6 col-sm-3 articleimage"><img class="img-responsive" src="https://s3.amazonaws.com/makerimages/woodandfaulk/WoodFaulk_NDaCosta-29.jpg" alt="" /></div>
		</div>
		<div class="row">
		<div class="col-xs-12 col-sm-6 articletext">
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
		<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
		</div>
		<div class="col-xs-12 col-sm-6 articletext">
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
		<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
		</div>
		</div>
		<div class="row">
		<div class="col-xs-12 articleimage"><img class="img-responsive" src="https://s3.amazonaws.com/makerimages/woodandfaulk/WoodFaulk_NDaCosta-35.jpg" alt="" /></div>
		</div>
		<div class="row">
		<div class="col-xs-12 text-center blockquote" style="text-align: center !Important;">
			<blockquote>
			Some dope quote about materials and craftsmanship and beards and flannel and tatoos.
			<cite>Matt Pierce, Wood &amp; Faulk</cite>
			</blockquote>
		</div>
		</div>
		<div class="row">
		<div class="col-xs-12 articleimage"><img class="img-responsive" src="https://s3.amazonaws.com/makerimages/woodandfaulk/WoodFaulk_NDaCosta-30.jpg" alt="" /></div>
		</div>
		<div class="row">
		<div class="col-xs-2 articletext"></div>
		<div class="col-xs-8 articletext">
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
		<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
		<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
		</div>
		<div class="col-xs-2 articletext"></div>
		</div>
		<div class="row">
			<div class="col-xs-12 articleimage">
				<img class="img-responsive" src="https://s3.amazonaws.com/makerimages/woodandfaulk/WoodFaulk_NDaCosta-30.jpg" alt="" />
			</div>
		</div>
		<div class="row-fluid fin">
			<div id="fin" class="col-xs-12 line">
				<hr class="symbol-fin" />
			</div>
		</div>
	</div>
	<!--end of gor_main--> <!--[if lt IE 8]>
	            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	        <![endif]--> <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
</div><!--end 'gor_wrap' div -->
<!--</div>-->