

<div class="row">
	<div class="col-xs-12 line" id="goods" style="padding-top: 0 !important;"><hr class="symbol-ourstory"></div>
</div>
        


<div class="row">
		<div class="col-xs-2 articletext"></div>
		<div class="col-xs-8 articletext">
				<p>We're Kush, Sathish, and Trey. Three guys road-tripping the US in order to find quality men's goods from up-and-coming makers.</p>
				<p>It first started by wondering where we could get a quality-made leather wallet, and we ended up in all corners of America finding dozens of relatively under-the-radar craftsmen making some of the coolest goods we've ever seen. </p>
				<p>From Oxford Ohio, feet away from Jason Birchfield chainsawing an enormous tree while getting attacked by furious mosquitos all the way to Portland, hanging out with Matt Pierce watching "Top Gun" projected on a side of a house with chickens next door – we love finding and capturing stories about quality men's goods and their maker, and supporting the maker community. </p>
				<p>We don't want to just sell awesome products – we want to showcase why these products were made so you know exactly what you're supporting. It also doesn't hurt to be able to have a cool story behind the products you own.</p>
				<p>We aim to keep our site to have only products of the highest quality and curation, while showing the stories through film, photography and editorial. We're pumped to keep exploring the makers in our country and can't wait for the next amazing set of men's goods.</p>

		</div>
		<div class="col-xs-2 articletext"></div>
</div>
<div class="row">
		<div class="col-xs-12 col-sm-6 articleimage">
			<img class="img-responsive" src="https://s3.amazonaws.com/gor_misc/satty.jpg" alt="" />
		</div>
		<div class="col-xs-12 col-sm-6 articleimage">
			<img class="img-responsive" src="https://s3.amazonaws.com/gor_misc/kush.jpg" alt="" />
		</div>
</div>